#!/usr/bin/env bash

# Ścieżka bezwzględna do aplikacji vlc.
readonly domyslna_sciezka_do_aplikacji_vlc="${ENV_K_OST_DOMYSLNA_SCIEZKA_DO_APLIKACJI_VLC}"

# Ścieżka bezwzględna do katalogu w którym znajdują się pliki przygotowane do konwersji.
readonly domyslna_sciezka_zrodlowa="${ENV_K_OST_DOMYSLNA_SCIEZKA_ZRODLOWA}"

# Ścieżka bezwzględna do katalogu w którym będą zapisywane przekonwertowane pliki.
readonly domyslna_sciezka_docelowa="${ENV_K_OST_DOMYSLNA_SCIEZKA_DOCELOWA}"

# Ustawienie określające czy plik z katalogu "domyslna_sciezka_zrodlowa" ma zostać usunięty po przekonwertowaniu.
readonly usun_plik_po_przekonwertowaniu="false" # false/true