#!/usr/bin/env bash

# Ścieżka bezwzględna do katalogu z modułami. Moduły przechowywane są w katalogu k-ost/bin/moduly.
readonly domyslna_sciezka_do_lokalizacji_modulow="${ENV_K_OST_DOMYSLNA_SCIEZKA_DO_LOKALIZACJI_MODULOW}"

# Ścieżka bezwzględna do aplikacji vlc.
readonly domyslna_sciezka_do_aplikacji_vlc="${ENV_K_OST_DOMYSLNA_SCIEZKA_DO_APLIKACJI_VLC}"

# Ścieżka bezwzględna do katalogu w którym znajdują się pliki przygotowane do konwersji.
readonly domyslna_sciezka_zrodlowa="${ENV_K_OST_DOMYSLNA_SCIEZKA_ZRODLOWA}"

# Ścieżka bezwzględna do katalogu w którym będą zapisywane przekonwertowane pliki.
readonly domyslna_sciezka_docelowa="${ENV_K_OST_DOMYSLNA_SCIEZKA_DOCELOWA}"

# Ścieżka bezwzględna do katalogu w którym będą przechowywane logi skryptu.
readonly domyslna_sciezka_logow="${ENV_K_OST_DOMYSLNA_SCIEZKA_LOGOW}"